.log-container{
    display: flex;
    flex-direction: row;
    width: 90vw;
    margin: auto;
    height: 77vh;
}
.log-title, .f-container{
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.log-title h1{
margin-bottom: 0;
font-size: 3.5vw;
}
.log-title p{
margin-top: 0;
margin-bottom: 50vh;
font-size: 1.5vw;
}
.form-container{
    width: 55%;
    display: flex;
    padding: 2vw;
    margin:     auto;
    background-color: var(--secondaryColor);
    border-radius: .7vw;
    margin-top: 12vh;
    padding-bottom: 10vh;
    flex-direction: column;
    box-shadow: -5px 8px 25px 2px #c8c7d1;
}
.txt{
    height: 5vh;
    border-radius: .5vw;
    border: .3vh solid #c8c7d1;
    font-size: 2vh;
    padding: .3vh 2vh;
    background-color: transparent;
    outline: none;
    margin: .84vh ;
    transition: all 0.2s ease-in-out;
}
.txt:focus, .txt:hover{
    transition: all 0.2s ease-in-out;
    border: .3vh solid var(--primaryColor);
}
.form-container a{
    cursor: default;
    font-size: 2vh;
    height: 2.2vh;
}
.btn, .btn-reg:hover{
    height: 6vh;
    border-radius: .5vw;
    border: none;
    font-size: 2.7vh;
    font-weight: 700;
    padding-left: 2vh;
    color: #fff;
    background-color: transparent;
    outline: none;
    margin-top: 1.5vh;
    margin-bottom:  1.7vh;
    transition: all 0.2s ease-in-out;
    background-color: var(--primaryColor);
}
.form-container hr{
    margin: 0;
    margin-top: 1.7vh;
    width: 100%;
    size: .1vh;
}
.btn-submit:hover, .btn-sub:hover, .btn-reg{
    transition: all 0.2s ease-in-out;
    border: .33vh solid var(--primaryColor);
    color: var(--primaryColor);
    background-color: transparent;
}
.btn-sub{
    width: 12vw;
    margin: 1vh 2vw ;
    height: 6.5vh;
    text-align: center;
}
#btn-sub{
    font: size 10rem;
}
.validate{
    color: red;
}
.reg-container{
    display: flex;
    flex-direction: row;
    width: 100vw;
    display: none;
    margin: auto;
    position: fixed;    
    top: 8.9vh;
    background-color:rgba(243, 243, 243, .9);
    height: 80vh;
}
.reg-container.show{
    display: block;
}
.exitBtn{
    color: var(--primaryColor);
    font-size: 5vh;
    width: 4.2vh;
    outline: none;
    height: 4.2vh;
    margin:  auto 1.5vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: .5vh solid var(--primaryColor);
    border-radius: 60%;
}
.exitBtn:hover{
    color: var(--secondaryColor);
    background-color: var(--primaryColor);
    transition: all 0.3s ease-in-out;
}
.reg-header-continer{
    display: flex;
    margin: auto;
    justify-content: center;
    height: 100%;
    background-color:rgba(243, 243, 243, 1);
    border-radius: 2vh;
    width: 35%;
    box-shadow: -5px 8px 25px 2px #c8c7d1;
    flex-direction: column;
}
.valida{
    display: flex;
    align-items: center;
    justify-content: center;
    color:transparent;
    font-size: 1.4vw;
}
.valida.sh{
    color: #ca2c2c;
}
.reg-form-c.show{
    display: flex;
    flex-direction: column;
}
.reg-form-c{
    display: none;
}
.pet-reg input{
    margin: .75vh 0 .75vh 0;
}

#txtEmails, #txtAddr, #txtPword{
grid-column: 1/4;
}
#txtCnum, #txtGend,#txtFname, #txtAnme{
    width: 11.5vw;
}
.pet-reg select{
    height: 6vh;
    width: 13.6vw;
    margin: .75vh 0 .75vh 0;
}
.txt.show{
    display: none;
}
.reg-footer{
    border-top: .3vh solid #c8c7d1;
    height: 15vh;
    display: flex;
    position: fixed;
    width: 35vw;
    bottom: 10vh;
    flex-direction: column;
    align-items: center;
}

.pet-reg{
    padding: 2.5vh 0 3% 1.25vw;
    margin: -28vh  1vw 3% 3%;
    border-radius: .8vw;
    border: .3vh solid #b9b8c2;
    display: grid;
    grid-template-columns: 1fr 1.6vw 1fr 1.6vw;

}
.pet-title{
margin:-3.89vh 0 1vh -0.6vw;
grid-column: 1/5;
}
.pet-title h1{
    font-size: 1.6vw;
    width: 13.5vw;
    padding: .2vh;
    text-align: center;
    margin: 0;
    font-weight: 600;
    color: var(--primaryColor);
    background-color: var(--secondaryColor);
}

.reg-heder{ 
    position: fixed;
    display: flex;
    top: 8.5vh;
    width: 35vw;
    height: 8.5vh;
    flex-direction: row-reverse;
    border-bottom: .3vh solid #c8c7d1;
}
.tittle-reeg{
    font-size: 4.5vh;
    margin: auto;
    color: var(--primaryColor);
}
.fixs{
    margin-top:-1.6vh;
}